@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font: 16px/1.4 "Noto Sans KR", Malgun Gothic, "맑은 고딕", "dotum", "돋움", "Red Hat Display", "AppleGothic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select {
  border-radius: none;
}

fieldset {
  border: none;
}

legend,
caption {
  position: absolute;
  left: -9999px;
}

table {
  border-collapse: collapse;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
}

img,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.skip-menu a {
  background-color: #000;
  color: #fff;
  position: fixed;
  left: 0;
  top: -9999px;
  width: 100%;
  text-align: center;
  z-index: 999;
  padding: 8px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.skip-menu a:focus {
  top: 0;
}

body {
  font: 16px/1.4 "Noto Sans KR", Malgun Gothic, "맑은 고딕", "dotum", "돋움", "Red Hat Display", "AppleGothic", sans-serif;
}

h2 {
  font-size: 1.354166666666667vw;
  padding-top: 5.208333333333333vw;
}

h4 {
  font-size: 1.041666666666667vw;
  padding-left: 1.302083333333333vw;
  padding-top: 1.5625vw;
}

#header {
  width: 1920px;
  margin: 0 auto;
}

#header .logo {
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
}

#header .header-top-wrap {
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

#header .header-top-wrap .header-top {
  overflow: hidden;
  font-size: 13px;
}

#header .header-top-wrap .header-top .lang-wrap {
  float: left;
  position: absolute;
  right: 336px;
  top: 0px;
}

#header .header-top-wrap .header-top .lang-wrap > ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 80px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 1;
}

#header .header-top-wrap .header-top .lang-wrap > ul > li {
  line-height: normal;
  display: block;
  margin-bottom: 20px;
}

#header .header-top-wrap .header-top .lang-wrap > ul > li:hover {
  display: block;
  color: #ed1b29;
}

#header .header-top-wrap .header-top .lang-wrap:hover > ul {
  display: block;
}

#header .header-top-wrap .header-top .user-wrap {
  float: left;
  position: absolute;
  right: 290px;
  top: 0;
}

#header .header-top-wrap .header-top .user-wrap > ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 1;
}

#header .header-top-wrap .header-top .user-wrap > ul > li {
  line-height: normal;
  display: block;
  margin-bottom: 20px;
}

#header .header-top-wrap .header-top .user-wrap > ul > li:hover {
  display: block;
  color: #ed1b29;
}

#header .header-top-wrap .header-top .user-wrap:hover > ul {
  display: block;
}

#header .header-top-wrap .header-top .total {
  float: right;
  position: absolute;
  right: 40px;
}

#header .header-top-wrap .header-top .total > form {
  width: 230px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
}

#header .header-top-wrap .header-top .total > form > fieldset > input[type="search"] {
  position: absolute;
  width: 198px;
  height: 38px;
  border-style: none;
}

#header .header-top-wrap .header-top .total > form > fieldset > input[type="submit"] {
  position: absolute;
  right: 5px;
  width: 25px;
  height: 38px;
  background: url(../image/common/icon-search.png) no-repeat center center;
  text-indent: -9999px;
  border-style: none;
}

#header .gnb-wrap {
  width: 1920px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#header .gnb-wrap .gnb {
  width: 1200px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

#header .gnb-wrap .gnb > ul > li {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  height: 40px;
  text-align: center;
}

#header .gnb-wrap .gnb > ul > li > a {
  font-size: 1.25vw;
}

#header .gnb-wrap .gnb > ul > li > a:hover::before {
  display: block;
}

#header .gnb-wrap .gnb > ul > li > a::before {
  position: absolute;
  content: "";
  width: 4.6875vw;
  height: 2px;
  background-color: #ed1b29;
  bottom: -0.625vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

#header .gnb-wrap .gnb > ul > li > ul {
  display: none;
}

#header .menu-shape {
  display: none;
}

#container {
  width: 1920px;
  margin: 0 auto;
}

#container .main-visual {
  width: 100%;
  height: 100%;
  position: relative;
}

#container .main-visual > ul[class^=main-visual-img] > li {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
}

#container .main-visual > ul[class^=main-visual-img] > li:nth-child(2) {
  display: none;
}

#container .main-visual > ul[class^=main-visual-img] > li:nth-child(3) {
  display: none;
}

#container .main-visual > ul[class^=main-visual-img] > li > span {
  position: absolute;
  display: block;
  height: 11.875%;
  top: 26.59574468085106%;
  left: calc(50% + 110px);
  font-size: 1.041666666666667vw;
  color: rgba(0, 0, 0, 0.7);
}

#container .main-visual > ul[class^=main-visual-img] > li > span > em {
  position: relative;
  font-size: 1.875vw;
  font-weight: bold;
  color: #000;
}

#container .main-visual > ul[class^=main-visual-img] > li > span > em::after {
  display: inline-block;
  content: '';
  width: 2.604166666666667vw;
  height: 1.197916666666667vw;
  background: url(../image/main/NEW.png) round 0 0;
}

#container .main-visual .main-visual-txt {
  width: 62.5%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#container .main-visual .main-visual-txt > li {
  display: block;
  float: left;
  width: 33%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin-right: 0.2604166666666667vw;
  font-size: 0.8333333333333333vw;
  font-weight: bold;
}

#container .main-visual .main-visual-txt > li:hover {
  background-color: #ed1b29;
  color: #fff;
}

#container .main-visual .main-visual-txt > li:last-child {
  margin-right: 0;
}

#container .row1-wrap {
  width: 1920px;
  height: 650px;
  margin: 0 auto;
}

#container .row1-wrap .row1 {
  width: 62.5%;
  margin: 0 auto;
}

#container .row1-wrap .row1 .brand {
  width: 100%;
  overflow: hidden;
}

#container .row1-wrap .row1 .brand > li {
  width: 23.58333333333333%;
  position: relative;
  display: block;
  float: left;
  margin-right: 1.88888888888889%;
  margin-top: 2.083333333333333vw;
}

#container .row1-wrap .row1 .brand > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

#container .row1-wrap .row1 .brand > li > a:hover::after, #container .row1-wrap .row1 .brand > li > a:focus::after {
  display: block;
}

#container .row1-wrap .row1 .brand > li > a::after {
  content: "";
  width: 100%;
  height: 72.37851662404092%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: none;
  background: url(../image/main/opacity_img_plus.png) no-repeat 50% 50%;
}

#container .row1-wrap .row1 .brand > li:last-child {
  margin-right: 0px;
}

#container .row1-wrap .row1 .brand > li > p {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8205128205128205vw;
}

#container .row1-wrap .row1 .brand > li > p > em {
  display: block;
  font-size: 1.025641025641026vw;
  font-weight: bold;
  margin-bottom: -5px;
}

#container .row2-wrap {
  width: 1920px;
  height: 650px;
  background-color: #f1ebe7;
}

#container .row2-wrap .row2 {
  position: relative;
  width: 62.5%;
  margin: 0 auto;
}

#container .row2-wrap .row2 > .youtube-wrap {
  position: relative;
  background-color: #000;
  width: 37.03125vw;
  height: 20.83333333333333vw;
  margin-top: 2.604166666666667vw;
  margin-left: 1.041666666666667vw;
}

#container .row2-wrap .row2 > .youtube-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container .row2-wrap .row2 .row2-right {
  position: absolute;
  top: 9.375vw;
  left: calc(50% + 9.895833333333333vw);
}

#container .row2-wrap .row2 .row2-right > p {
  font-size: 0.8333333333333333vw;
}

#container .row2-wrap .row2 .row2-right > h3 {
  font-size: 1.5625vw;
  margin-bottom: 2.34375vw;
}

#container .row2-wrap .row2 .row2-right > a {
  position: relative;
  display: block;
  width: 9.635416666666667vw;
  height: 2.083333333333333vw;
  line-height: 2.083333333333333vw;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 0.9375vw;
  top: 4.166666666666667vw;
  left: 2.083333333333333vw;
  background-color: #ed1b29;
}

#container .row2-wrap .row2 .row2-right > a:hover {
  background-color: #464242;
}

#container .row3-wrap {
  width: 1920px;
  height: 650px;
  background-color: #ed1b29;
}

#container .row3-wrap .row3 {
  width: 62.5vw;
  margin: 0 auto;
}

#container .row3-wrap .row3 > h2 {
  color: #fff;
  margin-bottom: 2.604166666666667vw;
}

#container .row3-wrap .row3 > .row3-arr {
  position: relative;
}

#container .row3-wrap .row3 > .row3-arr > a:nth-child(1) {
  position: absolute;
  top: 7.03125vw;
  left: 0px;
}

#container .row3-wrap .row3 > .row3-arr > a:nth-child(1) > img {
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
}

#container .row3-wrap .row3 > .row3-arr > a:nth-child(2) {
  position: absolute;
  top: 7.03125vw;
  right: 0px;
}

#container .row3-wrap .row3 > .row3-arr > a:nth-child(2) > img {
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
}

#container .row3-wrap .row3 > .sub-visual {
  overflow: hidden;
  margin-left: 4.166666666666667vw;
}

#container .row3-wrap .row3 > .sub-visual li {
  position: relative;
  float: left;
  margin-right: 1.822916666666667vw;
  height: 20.83333333333333vw;
  width: 16.82291666666667vw;
}

#container .row3-wrap .row3 > .sub-visual li > p {
  display: block;
  position: absolute;
  top: 18.48958333333333vw;
  left: 50%;
  width: 16.82291666666667vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 0.8333333333333333vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: 22.4;
  overflow: hidden;
}

#container .row4-wrap {
  width: 1920px;
  height: 500px;
  background-color: #464242;
}

#container .row4-wrap h2 {
  color: #fff;
  padding-bottom: 15px;
}

#container .row4-wrap > .row4 {
  width: 62.5vw;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 7.03125vw;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap {
  position: relative;
  float: left;
  width: 14.84375vw;
  height: 13.28125vw;
  margin-right: 1.041666666666667vw;
  background: url(../image/main/ceo-img.png) no-repeat 50% 0;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap h2 {
  position: absolute;
  padding-top: 0px;
  top: -2.239583333333333vw;
  left: 0;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap > p {
  padding-left: 0.5208333333333333vw;
  padding-top: 2.604166666666667vw;
  font-size: 0.9375vw;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap > p:last-child {
  padding-top: 0px;
  padding-left: 1.302083333333333vw;
  font-size: 0.7291666666666667vw;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap > p:last-child > em {
  font-size: 0.9375vw;
  color: #fff;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap > div {
  margin-top: 2.34375vw;
  margin-left: 0.625vw;
  width: 5.208333333333333vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  background-color: #f1ebe7;
  text-align: center;
  font-size: 0.8333333333333333vw;
}

#container .row4-wrap > .row4 .row4-left .row4-left-wrap > div:hover {
  background-color: #2e2a2a;
  color: #fff;
}

#container .row4-wrap > .row4 .row4-center > .row4-center-wrap {
  position: relative;
  float: left;
  width: 30.72916666666667vw;
  height: 13.28125vw;
  margin-right: 1.041666666666667vw;
  background: url(../image/main/row_center_img.png) no-repeat 33.3% 50%;
  padding-top: 2.083333333333333vw;
  padding-left: 1.041666666666667vw;
}

#container .row4-wrap > .row4 .row4-center > .row4-center-wrap > p {
  font-size: 0.78125vw;
  color: #fff;
}

#container .row4-wrap > .row4 .row4-center > .row4-center-wrap > p:last-child {
  font-size: 0.8333333333333333vw;
  margin-top: 1.822916666666667vw;
  width: 5.208333333333333vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  text-align: center;
  background-color: #2e2a2a;
}

#container .row4-wrap > .row4 .row4-center > .row4-center-wrap > p:last-child:hover {
  background-color: #f1ebe7;
  color: #000;
}

#container .row4-wrap > .row4 .row4-center > .row4-center-wrap > p > em {
  display: block;
  padding-top: 0.78125vw;
  font-size: 1.25vw;
}

#container .row4-wrap > .row4 .row4-center h2 {
  position: absolute;
  padding-top: 0px;
  top: -2.239583333333333vw;
  left: 0;
}

#container .row4-wrap > .row4 .row4-right .row4-right-wrap {
  position: relative;
  float: right;
  width: 14.84375vw;
  height: 13.28125vw;
  background: url(../image/main/row4_right_img.png) no-repeat center 0;
}

#container .row4-wrap > .row4 .row4-right .row4-right-wrap h2 {
  position: absolute;
  padding-top: 0px;
  top: -2.239583333333333vw;
  left: 0;
}

#container .row4-wrap > .row4 .row4-right .row4-right-wrap > p {
  padding-top: 5.729166666666667vw;
  padding-left: 1.145833333333333vw;
  color: #fff;
  font-size: 0.8333333333333333vw;
}

#container .row4-wrap > .row4 .row4-right .row4-right-wrap > p:last-child {
  position: absolute;
  top: 10.15625vw;
  left: 1.041666666666667vw;
  padding: 0px;
  width: 5.208333333333333vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  background-color: #ed1b29;
  text-align: center;
}

#container .row4-wrap > .row4 .row4-right .row4-right-wrap > p:last-child:hover {
  background-color: #2e2a2a;
}

#footer {
  width: 1920px;
  height: 570px;
  margin: 0 auto;
}

#footer > .footer-section-1 {
  height: 290px;
  background-color: #2e2a2a;
}

#footer > .footer-section-1 > .footer-section-1-wrap {
  overflow: hidden;
  width: 62.5vw;
  margin: 0 auto;
  padding-top: 1.041666666666667vw;
  color: #fff;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left {
  float: left;
  width: 20.83333333333333vw;
  height: 13.02083333333333vw;
  border-right: 2px solid #464242;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div {
  text-align: center;
  position: relative;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div.up::after {
  display: block !important;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div.down::before {
  display: block !important;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div::after {
  position: absolute;
  top: 2.8125vw;
  left: 13.54166666666667vw;
  content: "";
  border-top: none;
  border-left: 0.4166666666666667vw solid transparent;
  border-right: 0.4166666666666667vw solid transparent;
  border-bottom: 0.4166666666666667vw solid #f93345;
  display: none;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div::before {
  position: absolute;
  top: 3.229166666666667vw;
  left: 13.54166666666667vw;
  content: "";
  border-top: 0.4166666666666667vw solid #1c8ff0;
  border-left: 0.4166666666666667vw solid transparent;
  border-right: 0.4166666666666667vw solid transparent;
  border-bottom: none;
  display: none;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div > p {
  padding-top: 2.083333333333333vw;
  font-size: 1.5625vw;
  font-weight: bold;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div > ul {
  position: relative;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div > ul::after {
  position: absolute;
  top: 1.25vw;
  left: 50%;
  content: "";
  width: 2px;
  height: 0.8333333333333333vw;
  background-color: #fff;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div > ul > li {
  display: block;
  float: left;
  width: 50%;
  height: 1.041666666666667vw;
  line-height: 1.041666666666667vw;
  margin-top: 1.041666666666667vw;
  font-size: 0.8333333333333333vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div > ul > li > em {
  padding-right: 0.5208333333333333vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .left-wrap .left > div > ul > li > em:last-child {
  margin-right: 0px;
}

#footer > .footer-section-1 > .footer-section-1-wrap .center-wrap .center {
  position: relative;
  float: left;
  width: 20.83333333333333vw;
  height: 13.02083333333333vw;
  border-right: 2px solid #464242;
}

#footer > .footer-section-1 > .footer-section-1-wrap .center-wrap .center::before {
  content: "";
  width: 0.2083333333333333vw;
  height: 0.2083333333333333vw;
  border-radius: 0.1041666666666667vw;
  background-color: #1c8ff0;
  position: absolute;
  top: 5.729166666666667vw;
  left: 9.583333333333333vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .center-wrap .center::after {
  content: "";
  width: 0.2083333333333333vw;
  height: 0.2083333333333333vw;
  border-radius: 0.1041666666666667vw;
  background-color: #1c8ff0;
  position: absolute;
  top: 5.729166666666667vw;
  left: 12.13541666666667vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .center-wrap .center > img {
  position: absolute;
  display: block;
  width: 4.114583333333333vw;
  height: 4.114583333333333vw;
  left: 2.083333333333333vw;
  top: 4.6875vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .center-wrap .center > p {
  position: absolute;
  top: 4.947916666666667vw;
  left: 7.291666666666667vw;
  font-size: 0.7291666666666667vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .center-wrap .center > p > em {
  font-size: 1.25vw;
  font-weight: bold;
}

#footer > .footer-section-1 > .footer-section-1-wrap .right-wrap .right {
  float: right;
  width: 20.83333333333333vw;
  height: 13.02083333333333vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .right-wrap .right > .sns-wrap {
  width: 18.75vw;
  margin: 2.083333333333333vw 0 0 2.083333333333333vw;
}

#footer > .footer-section-1 > .footer-section-1-wrap .right-wrap .right > .sns-wrap > ul {
  clear: both;
}

#footer > .footer-section-1 > .footer-section-1-wrap .right-wrap .right > .sns-wrap > ul > li {
  float: left;
  width: 25%;
  padding-right: 0.78125vw;
}

#footer > .footer-section-2 {
  width: 1920px;
  margin: 0 auto;
}

#footer > .footer-section-2 > .footer-section-2-wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  font-size: 0.8333333333333333vw;
}

#footer > .footer-section-2 > .footer-section-2-wrap > ul {
  overflow: hidden;
  margin: 2.604166666666667vw 0 0 4.947916666666667vw;
}

#footer > .footer-section-2 > .footer-section-2-wrap > ul > li {
  position: relative;
  display: block;
  float: left;
  padding-right: 2.083333333333333vw;
}

#footer > .footer-section-2 > .footer-section-2-wrap > ul > li::after {
  position: absolute;
  top: 0.2083333333333333vw;
  left: 4.166666666666667vw;
  content: "";
  width: 1px;
  height: 0.78125vw;
  background-color: #ccc;
}

#footer > .footer-section-2 > .footer-section-2-wrap > ul > li:nth-child(2)::after {
  left: 7.395833333333333vw;
}

#footer > .footer-section-2 > .footer-section-2-wrap > ul > li:nth-child(3)::after {
  display: none;
}

#footer > .footer-section-2 > .footer-section-2-wrap > ul > li:last-child {
  padding-right: 0;
}

#footer > .footer-section-2 > .footer-section-2-wrap > .address {
  margin-top: 2.604166666666667vw;
  width: 22.91666666666667vw;
  height: 5.46875vw;
}

#footer > .footer-section-2 > .footer-section-2-wrap > .address > p {
  margin-top: 1.5625vw;
}

#footer > .footer-section-2 > .footer-section-2-wrap .footer-logo {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 1200px) {
  #container {
    width: 100%;
  }
  #container > .main-visual > .main-visual-img_tm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  body {
    width: 100%;
  }
  #header {
    width: 100%;
  }
  #header .gnb-wrap {
    width: 100%;
  }
  #header .gnb-wrap .gnb {
    width: 100%;
  }
  #header .gnb-wrap .gnb > ul > li > a ::before {
    width: 7.5%;
  }
  #container {
    width: 100%;
  }
  #container .main-visual-txt {
    width: 100%;
  }
  #container .row1-wrap {
    width: 100%;
    height: 33.85416666666667vw;
  }
  #container .row2-wrap {
    width: 100%;
    height: 33.85416666666667vw;
  }
  #container .row3-wrap {
    width: 100%;
    height: 33.85416666666667vw;
  }
  #container .row4-wrap {
    width: 100%;
    height: 26.04166666666667vw;
  }
  #footer {
    width: 100%;
    height: 29.6875vw;
  }
  #footer > .footer-section-1 {
    height: 15.10416666666667vw;
  }
  #footer > .footer-section-2 {
    width: 100%;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap {
    width: 62.5vw;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    width: 100%;
  }
  h2 {
    font-size: 3.385416666666667vw;
    padding-top: 0;
  }
  h4 {
    font-size: 2.604166666666667vw;
    padding-left: 25px;
    padding-top: 30px;
  }
  #header {
    position: relative;
  }
  #header .logo {
    margin: 40px auto;
  }
  #header .header-top-wrap {
    display: none;
  }
  #header .gnb-wrap {
    display: none;
  }
  #header .menu-shape-wrap {
    position: absolute;
    display: block;
    top: 0px;
    right: 40px;
  }
  #header .menu-shape-wrap .menu-shape, #header .menu-shape-wrap .menu-shape > span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #header .menu-shape-wrap .menu-shape {
    position: relative;
    width: 44px;
    height: 44px;
  }
  #header .menu-shape-wrap .menu-shape > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
  #header .menu-shape-wrap .menu-shape > span:nth-child(1) {
    top: 0;
  }
  #header .menu-shape-wrap .menu-shape > span:nth-child(2) {
    top: 20px;
  }
  #header .menu-shape-wrap .menu-shape > span:nth-child(3) {
    bottom: 0px;
  }
  #header .menu-shape-wrap > .menu-shape:hover > span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  #header .menu-shape-wrap > .menu-shape:hover > span:nth-child(2) {
    opacity: 0;
  }
  #header .menu-shape-wrap > .menu-shape:hover > span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  #container > .main-visual > .main-visual-img {
    display: none;
  }
  #container > .main-visual > .main-visual-txt {
    display: none;
  }
  #container > .main-visual .main-visual-img_tm > li > span {
    left: calc(50% + 50px) !important;
    font-size: 1.666666666666667vw !important;
  }
  #container > .main-visual .main-visual-img_tm > li > span > em {
    font-size: 2.916666666666667vw !important;
  }
  #container > .row1-wrap {
    width: 100%;
    height: 121.09375vw;
    padding-top: 5.208333333333333vw;
    padding-left: 5.208333333333333vw;
  }
  #container > .row1-wrap > .row1 {
    width: 92.1875vw;
    margin-right: 0;
  }
  #container > .row1-wrap > .row1 > .brand {
    width: 92.1875vw;
    margin-right: 0;
  }
  #container > .row1-wrap > .row1 > .brand > li {
    width: auto;
    margin-left: 5.208333333333333vw;
    margin-top: 5.208333333333333vw;
  }
  #container > .row1-wrap > .row1 > .brand > li:nth-child(1) {
    margin-left: 0px;
  }
  #container > .row1-wrap > .row1 > .brand > li:nth-child(3) {
    margin-left: 0px;
  }
  #container > .row1-wrap > .row1 > .brand > li > a > img {
    width: 36.84895833333333vw;
    height: 36.84895833333333vw;
  }
  #container > .row1-wrap > .row1 > .brand > li > a::after {
    width: 36.97916666666667vw;
    height: 36.97916666666667vw;
  }
  #container > .row1-wrap > .row1 > .brand > li > p {
    font-size: 2.083333333333333vw;
  }
  #container > .row1-wrap > .row1 > .brand > li > p > em {
    font-size: 2.604166666666667vw;
    margin-bottom: -10px;
  }
  #container > .row2-wrap {
    height: 92.44791666666667vw;
  }
  #container > .row2-wrap > .row2 {
    position: relative;
    width: 100%;
    padding-top: 4.166666666666667vw;
    padding-left: 4.166666666666667vw;
  }
  #container > .row2-wrap > .row2 > .youtube-wrap {
    position: absolute;
    width: 81.77083333333333vw;
    height: 43.75vw;
    top: 13.671875vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #container > .row2-wrap > .row2 .row2-right {
    position: absolute;
    top: 62.5vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 81.77083333333333vw;
    text-align: center;
  }
  #container > .row2-wrap > .row2 .row2-right > h3 {
    font-size: 3.385416666666667vw;
    width: 100%;
  }
  #container > .row2-wrap > .row2 .row2-right > h3 > br {
    display: none;
  }
  #container > .row2-wrap > .row2 .row2-right > p {
    display: block;
    font-size: 2.083333333333333vw;
    width: 69.01041666666667vw;
    margin: 0 auto;
  }
  #container > .row2-wrap > .row2 .row2-right > p > br {
    display: none;
  }
  #container > .row2-wrap > .row2 .row2-right > a {
    position: absolute;
    font-size: 2.34375vw;
    width: 24.08854166666667vw;
    height: 5.208333333333333vw;
    line-height: 5.208333333333333vw;
    top: 19.53125vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #container > .row3-wrap {
    width: 100%;
    height: 72.91666666666667vw;
  }
  #container > .row3-wrap > .row3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #container > .row3-wrap > .row3 > h2 {
    padding-top: 5.208333333333333vw;
    padding-left: 5.208333333333333vw;
    margin-bottom: 5.208333333333333vw;
  }
  #container > .row3-wrap > .row3 > .row3-arr {
    position: relative;
  }
  #container > .row3-wrap > .row3 > .row3-arr > a:nth-child(1) {
    position: absolute;
    top: 17.70833333333333vw;
    left: 7.8125vw;
    z-index: 1;
  }
  #container > .row3-wrap > .row3 > .row3-arr > a:nth-child(1) > img {
    width: 6.510416666666667vw;
    height: 6.510416666666667vw;
  }
  #container > .row3-wrap > .row3 > .row3-arr > a:nth-child(2) {
    position: absolute;
    top: 17.70833333333333vw;
    right: 5.208333333333333vw;
    z-index: 1;
  }
  #container > .row3-wrap > .row3 > .row3-arr > a:nth-child(2) > img {
    width: 6.510416666666667vw;
    height: 6.510416666666667vw;
  }
  #container > .row3-wrap > .row3 > .sub-visual {
    overflow: hidden;
    margin-left: 7.8125vw;
  }
  #container > .row3-wrap > .row3 > .sub-visual > li {
    margin-right: 2.604166666666667vw;
    width: 42.1875vw;
    height: 48.17708333333333vw;
  }
  #container > .row3-wrap > .row3 > .sub-visual > li:last-child {
    display: none;
  }
  #container > .row3-wrap > .row3 > .sub-visual > li > a > img {
    width: 42.1875vw;
    height: 42.1875vw;
  }
  #container > .row3-wrap > .row3 > .sub-visual > li > p {
    top: 90%;
    font-size: 2.083333333333333vw;
    width: 42.1875vw;
  }
  #container > .row4-wrap {
    width: 100%;
    height: 108.7239583333333vw;
    padding-top: 0;
  }
  #container > .row4-wrap > .row4 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 0;
    position: relative;
  }
  #container > .row4-wrap > .row4 .row4-left {
    float: none;
    position: absolute;
    top: 14.32291666666667vw;
    left: 5.208333333333333vw;
  }
  #container > .row4-wrap > .row4 .row4-left > .row4-left-wrap {
    float: none;
    width: 42.1875vw;
    height: 37.76041666666667vw;
    margin-right: 0;
    background-size: cover;
  }
  #container > .row4-wrap > .row4 .row4-left > .row4-left-wrap > h2 {
    top: -7.8125vw;
    padding-top: 0;
  }
  #container > .row4-wrap > .row4 .row4-left > .row4-left-wrap > p {
    padding-left: 1.822916666666667vw;
    padding-top: 7.552083333333333vw;
    font-size: 2.734375vw;
  }
  #container > .row4-wrap > .row4 .row4-left > .row4-left-wrap > p:last-child {
    padding-top: 1.302083333333333vw;
    padding-left: 3.255208333333333vw;
    font-size: 2.083333333333333vw;
  }
  #container > .row4-wrap > .row4 .row4-left > .row4-left-wrap > p:last-child > em {
    font-size: 2.734375vw;
    color: #fff;
  }
  #container > .row4-wrap > .row4 .row4-left > .row4-left-wrap > div {
    margin-top: 4.557291666666667vw;
    margin-left: 1.822916666666667vw;
    width: 14.84375vw;
    height: 4.427083333333333vw;
    line-height: 4.427083333333333vw;
    font-size: 2.34375vw;
  }
  #container > .row4-wrap > .row4 .row4-center {
    float: none;
    position: absolute;
    top: 65.75520833333333vw;
    left: 5.208333333333333vw;
  }
  #container > .row4-wrap > .row4 .row4-center > .row4-center-wrap {
    float: none;
    width: 89.58333333333333vw;
    height: 38.02083333333333vw;
    margin-right: 0;
    background-size: cover;
    padding-top: 6.25vw;
    padding-left: 2.864583333333333vw;
  }
  #container > .row4-wrap > .row4 .row4-center > .row4-center-wrap > h2 {
    top: -7.8125vw;
    left: 0;
    margin-top: 0;
  }
  #container > .row4-wrap > .row4 .row4-center > .row4-center-wrap > p {
    font-size: 2.213541666666667vw;
  }
  #container > .row4-wrap > .row4 .row4-center > .row4-center-wrap > p > em {
    padding-top: 3.255208333333333vw;
    font-size: 3.515625vw;
  }
  #container > .row4-wrap > .row4 .row4-center > .row4-center-wrap > p:last-child {
    font-size: 2.34375vw;
    margin-top: 5.208333333333333vw;
    width: 14.84375vw;
    height: 4.427083333333333vw;
    line-height: 4.427083333333333vw;
  }
  #container > .row4-wrap > .row4 .row4-right {
    float: none;
    position: absolute;
    top: 14.32291666666667vw;
    left: 52.60416666666667vw;
  }
  #container > .row4-wrap > .row4 .row4-right > .row4-right-wrap {
    float: none;
    width: 42.1875vw;
    height: 37.76041666666667vw;
    background-size: cover;
  }
  #container > .row4-wrap > .row4 .row4-right > .row4-right-wrap > h2 {
    padding-top: 0;
    top: -60px;
    left: 0;
  }
  #container > .row4-wrap > .row4 .row4-right > .row4-right-wrap > p {
    padding-top: 17.05729166666667vw;
    padding-left: 3.515625vw;
    font-size: 2.34375vw;
  }
  #container > .row4-wrap > .row4 .row4-right > .row4-right-wrap > p:last-child {
    top: 29.03645833333333vw;
    left: 3.255208333333333vw;
    width: 14.71354166666667vw;
    height: 4.427083333333333vw;
    line-height: 4.427083333333333vw;
  }
  #footer {
    width: 100%;
    height: 100.2604166666667vw;
  }
  #footer > .footer-section-1 {
    width: 100%;
    height: 68.359375vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap {
    width: 100%;
    overflow: inherit;
    position: relative;
    padding-top: 0;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap {
    position: absolute;
    top: 0;
    left: 0;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap > .left {
    float: none;
    width: 50vw;
    height: 33.203125vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap > .left > div::after {
    position: absolute;
    top: 7.03125vw;
    left: 33.85416666666667vw;
    content: "";
    border-top: none;
    border-left: 1.041666666666667vw solid transparent;
    border-right: 1.041666666666667vw solid transparent;
    border-bottom: 1.041666666666667vw solid #f93345;
    display: none;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap > .left > div::before {
    position: absolute;
    top: 8.072916666666667vw;
    left: 33.85416666666667vw;
    content: "";
    border-top: 1.041666666666667vw solid #1c8ff0;
    border-left: 1.041666666666667vw solid transparent;
    border-right: 1.041666666666667vw solid transparent;
    border-bottom: none;
    display: none;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap > .left > div > p {
    padding-top: 5.208333333333333vw;
    font-size: 3.90625vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap > .left > div > ul::after {
    top: 3.385416666666667vw;
    height: 2.083333333333333vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .left-wrap > .left > div > ul > li {
    height: 6.510416666666667vw;
    font-size: 2.083333333333333vw;
    margin-top: 3.90625vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap {
    position: absolute;
    top: 0;
    left: 50%;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap > .center {
    float: none;
    width: 50vw;
    height: 33.203125vw;
    border: none;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap > .center::before {
    content: "";
    width: 0.5208333333333333vw;
    height: 0.5208333333333333vw;
    border-radius: 0.2604166666666667vw;
    top: 14.32291666666667vw;
    left: 26.5625vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap > .center::after {
    content: "";
    width: 0.5208333333333333vw;
    height: 0.5208333333333333vw;
    border-radius: 0.2604166666666667vw;
    top: 14.32291666666667vw;
    left: 32.94270833333333vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap > .center > img {
    width: 9.765625vw;
    height: 9.765625vw;
    left: 7.8125vw;
    top: 12.36979166666667vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap > .center > p {
    position: absolute;
    top: 12.36979166666667vw;
    left: 20.83333333333333vw;
    font-size: 1.822916666666667vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .center-wrap > .center > p > em {
    display: block;
    font-size: 3.125vw;
    font-weight: bold;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .right-wrap {
    position: absolute;
    top: 35.15625vw;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .right-wrap > .right {
    float: none;
    height: 33.203125vw;
    border-top: 2px solid #464242;
    text-align: center;
    width: 100%;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .right-wrap > .right > h4 {
    padding-left: 0;
    padding-top: 5.208333333333333vw;
    padding-bottom: 5.208333333333333vw;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .right-wrap > .right > .sns-wrap {
    position: relative;
    width: 100%;
    height: 18.22916666666667vw;
    margin: 0 auto;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .right-wrap > .right > .sns-wrap > ul {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    clear: both;
  }
  #footer > .footer-section-1 > .footer-section-1-wrap > .right-wrap > .right > .sns-wrap > ul > li {
    float: left;
    width: 10.80729166666667vw;
    padding-right: 1.302083333333333vw;
  }
  #footer > .footer-section-2 {
    width: 100%;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap {
    width: 100%;
    font-size: 2.083333333333333vw;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap > ul {
    margin: 5.208333333333333vw 0 0 20.83333333333333vw;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap > ul > li {
    padding-right: 2.604166666666667vw;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap > ul > li::after {
    top: 4px;
    left: 68px;
    height: 16px;
    background-color: #ccc;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap > ul > li:nth-child(2)::after {
    left: 133px;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap > .address {
    padding-top: 50px;
    padding-left: 70px;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap > .address > p {
    padding-top: 30px;
  }
  #footer > .footer-section-2 > .footer-section-2-wrap .footer-logo {
    position: absolute;
    top: 40px;
    right: 70px;
  }
}

@media (max-width: 767px) {
  #container > .main-visual > .main-visual-img {
    display: none;
  }
  #container > .main-visual > .main-visual-txt {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */