@charset 'utf-8';
@import "design";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font: 16px/1.4 "Noto Sans KR", Malgun Gothic, "맑은 고딕", "dotum", "돋움",
    "Red Hat Display", "AppleGothic", sans-serif;
}
h2 {
  font-size: 1.354166666666667vw;
  padding-top: 4.166666666666667vw;
}
h4 {
  font-size: 1.041666666666667vw;
  padding-left: 1.302083333333333vw;
  padding-top: 1.5625vw;
}
#header {
  width: 1920px;
  margin: 0 auto;
  .logo {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
  }
  .header-top-wrap {
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    .header-top {
      overflow: hidden;
      font-size: 13px;
      .lang-wrap {
        float: left;
        position: absolute;
        right: 336px;
        top: 0px;
        > ul {
          position: absolute;
          top: 40px;
          left: 0;
          width: 80px;
          height: 100px;
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 10px;
          display: none;
          z-index: 1;
          > li {
            line-height: normal;
            display: block;
            margin-bottom: 20px;
            &:hover {
              display: block;
              color: $mainColor-1;
            }
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
      .user-wrap {
        float: left;
        position: absolute;
        right: 290px;
        top: 0;
        > ul {
          position: absolute;
          top: 40px;
          left: 0;
          width: 100px;
          height: 150px;
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 10px;
          display: none;
          z-index: 1;
          > li {
            line-height: normal;
            display: block;
            margin-bottom: 20px;
            &:hover {
              display: block;
              color: $mainColor-1;
            }
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
      .total {
        float: right;
        position: absolute;
        right: 40px;
        > form {
          width: 230px;
          height: 40px;
          background-color: #fff;
          border: 1px solid #ccc;
          position: relative;
          > fieldset {
            > input[type="search"] {
              position: absolute;
              width: 198px;
              height: 38px;
              border-style: none;
            }
            > input[type="submit"] {
              position: absolute;
              right: 5px;
              width: 25px;
              height: 38px;
              background: url(../image/common/icon-search.png) no-repeat center
                center;
              text-indent: -9999px;
              border-style: none;
            }
          }
        }
      }
    }
  }
  .gnb-wrap {
    width: 1920px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .gnb {
      width: 1200px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto;
      > ul {
        > li {
          position: relative;
          display: block;
          float: left;
          width: 25%;
          height: 40px;
          text-align: center;
          > a {
            font-size: 1.25vw;
            &:hover {
              &::before {
                display: block;
              }
            }
            &::before {
              position: absolute;
              content: "";
              width: 4.6875vw;
              height: 2px;
              background-color: $mainColor-1;
              bottom: -0.625vw;
              left: 50%;
              transform: translateX(-50%);
              display: none;
            }
          }
          > ul {
            display: none;
          }
        }
      }
    }
  }
  .menu-shape{
    display: none;
  }
}
#container {
  width: 1920px;
  margin: 0 auto;
  .main-visual {
    width: 100%;
    height: 100%;
    position: relative;
    > ul[class ^= main-visual-img] {
      > li {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
        > span {
          position: absolute;
          display: block;
          width: 100%;
          height: 11.875%;
          top: 26.59574468085106%;
          left: calc(50% + 110px);
          font-size: 1.041666666666667vw;
          color: rgba(0, 0, 0, 0.7);
          > em {
            position: relative;
            font-size: 1.875vw;
            font-weight: bold;
            color: #000;
            &::after{
              display: inline-block;
              content: '';
              width: 2.604166666666667vw;
              height: 1.197916666666667vw;
              background: url(../image/main/NEW.png) round 0 0;
            }
          }
        }
      }
    }
    .main-visual-txt {
      width: 62.5%;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      > li {
        display: block;
        float: left;
        width: 33%;
        height: 50px;
        line-height: 50px;
        background-color: #fff;
        color: #000;
        text-align: center;
        margin-right: 0.2604166666666667vw;
        font-size: 0.8333333333333333vw;
        font-weight: bold;
        &:hover {
          background-color: $mainColor-1;
          color: #fff;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .row1-wrap {
    width: 1920px;
    height: 650px;
    margin: 0 auto;
    .row1 {
      width: 62.5%;
      margin: 0 auto;
      .brand {
        width: 100%;
        overflow: hidden;
        > li {
          width: 23.58333333333333%;
          position: relative;
          display: block;
          float: left;
          margin-right: 1.88888888888889%;
          margin-top: 2.083333333333333vw;
          > a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            &:hover, &:focus{
              &::after {
                display: block;
              }
            }
            &::after {
              content: "";
              width: 100%;
              height: 72.37851662404092%;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              display: none;
              background: url(../image/main/opacity_img_plus.png) no-repeat 50% 50%;
            }
          }
          &:last-child {
            margin-right: 0px;
          }
          > p {
            text-align: center;
            margin-top: 20px;
            font-size: 0.8205128205128205vw;
            > em {
              display: block;
              font-size: 1.025641025641026vw;
              font-weight: bold;
              margin-bottom: -5px;
            }
          }
        }
      }
    }
  }
  .row2-wrap {
    width: 1920px;
    height: 650px;
    background-color: #f1ebe7;
    .row2 {
      position: relative;
      width: 62.5%;
      margin: 0 auto;
      > .youtube-wrap {
        position: relative;
        background-color: #000;
        width: 37.03125vw;
        height: 20.83333333333333vw;
        margin-top: 2.604166666666667vw;
        margin-left: 1.041666666666667vw;
        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .row2-right {
        position: absolute;
        top: 9.375vw;
        left: calc(50% + 9.895833333333333vw);
        > p{
          font-size: 0.8333333333333333vw;
        }
        > h3 {
          font-size: 1.5625vw;
          margin-bottom: 2.34375vw;
        }
        > a {
          position: relative;
          display: block;
          width: 9.635416666666667vw;
          height: 2.083333333333333vw;
          line-height: 2.083333333333333vw;
          text-align: center;
          color: #fff;
          font-weight: bold;
          font-size: 0.9375vw;
          top: 4.166666666666667vw;
          left: 2.083333333333333vw;
          background-color: $mainColor-1;
          &:hover {
            background-color: $mainColor-2;
          }
        }
      }
    }
  }
  .row3-wrap {
    width: 1920px;
    height: 650px;
    background-color: $mainColor-1;
    .row3 {
      width: 62.5vw;
      margin: 0 auto;
      > h2 {
        color: #fff;
        margin-bottom: 2.604166666666667vw;
      }
      > .row3-arr {
        position: relative;
        > a {
          &:nth-child(1) {
            position: absolute;
            top: 7.03125vw;
            left: 0px;
            >img{
              width: 2.604166666666667vw;
              height: 2.604166666666667vw;
            }
          }
          &:nth-child(2) {
            position: absolute;
            top: 7.03125vw;
            right: 0px;
            >img{
              width: 2.604166666666667vw;
              height: 2.604166666666667vw;
            }
          }
        }
      }
      > .sub-visual {
        overflow: hidden;
        margin-left: 4.166666666666667vw;
        li {
          position: relative;
          float: left;
          margin-right: 1.822916666666667vw;
          height: 20.83333333333333vw;
          width: 16.82291666666667vw;
          > p {
            display: block;
            position: absolute;
            top: 18.48958333333333vw;
            left: 50%;
            width: 16.82291666666667vw;
            transform: translateX(-50%);
            font-weight: bold;
            color: #fff;
            text-align: center;
            font-size: 0.8333333333333333vw;
            @include lineClamp(22.4, 1);
          }
        }
      }
    }
  }
  .row4-wrap {
    width: 1920px;
    height: 500px;
    background-color: $mainColor-2;
    h2 {
      color: #fff;
      padding-bottom: 15px;
    }
    > .row4 {
      width: 62.5vw;
      margin: 0 auto;
      overflow: hidden;
      padding-top: 7.03125vw;
      .row4-left {
        position: relative;
        float: left;
        width: 14.84375vw;
        height: 13.28125vw;
        margin-right: 1.041666666666667vw;
        background: url(../image/main/ceo-img.png) no-repeat 50% 0;
        h2 {
          position: absolute;
          padding-top: 0px;
          top: -2.239583333333333vw;
          left: 0;
        }
        > p {
          padding-left: 0.5208333333333333vw;
          padding-top: 2.604166666666667vw;
          font-size: 0.9375vw;
          &:last-child {
            padding-top: 0px;
            padding-left: 1.302083333333333vw;
            font-size: 0.7291666666666667vw;
            > em {
              font-size: 0.9375vw;
              color: #fff;
            }
          }
        }
        > div {
          margin-top: 2.34375vw;
          margin-left: 0.625vw;
          width: 5.208333333333333vw;
          height: 1.5625vw;
          line-height: 1.5625vw;
          background-color: #f1ebe7;
          text-align: center;
          font-size: 0.8333333333333333vw;
          &:hover {
            background-color: $mainColor-3;
            color: #fff;
          }
        }
      }
      .row4-center {
        position: relative;
        float: left;
        width: 30.72916666666667vw;
        height: 13.28125vw;
        margin-right: 1.041666666666667vw;
        background: url(../image/main/row_center_img.png) no-repeat 33.3% 50%;
        > .row4-center-wrap {
          padding-top: 2.083333333333333vw;
          padding-left: 1.041666666666667vw;
          > p {
            font-size: 0.78125vw;
            color: #fff;
            &:last-child {
              font-size: 0.8333333333333333vw;
              margin-top: 1.822916666666667vw;
              width: 5.208333333333333vw;
              height: 1.5625vw;
              line-height: 1.5625vw;
              text-align: center;
              background-color: $mainColor-3;
              &:hover {
                background-color: $mainColor-5;
                color: #000;
              }
            }
            > em {
              display: block;
              padding-top: 0.78125vw;
              font-size: 1.25vw;
            }
          }
        }
        h2 {
          position: absolute;
          padding-top: 0px;
          top: -2.239583333333333vw;
          left: 0;
        }
      }
      .row4-right {
        position: relative;
        float: right;
        width: 14.84375vw;
        height: 13.28125vw;
        background: url(../image/main/row4_right_img.png) no-repeat center 0;
        h2 {
          position: absolute;
          padding-top: 0px;
          top: -2.239583333333333vw;
          left: 0;
        }
        > p {
          padding-top: 5.729166666666667vw;
          padding-left: 1.145833333333333vw;
          color: #fff;
          font-size: 0.8333333333333333vw;
          &:last-child {
            position: absolute;
            top: 10.15625vw;
            left: 1.041666666666667vw;
            padding: 0px;
            width: 5.208333333333333vw;
            height: 1.5625vw;
            line-height: 1.5625vw;
            background-color: $mainColor-1;
            text-align: center;
            &:hover {
              background-color: $mainColor-3;
            }
          }
        }
      }
    }
  }
}
#footer {
  width: 1920px;
  height: 570px;
  margin: 0 auto;
  > .footer-section-1 {
    height: 290px;
    background-color: $mainColor-3;
    > .footer-section-1-wrap {
      overflow: hidden;
      width: 62.5vw;
      margin: 0 auto;
      padding-top: 1.041666666666667vw;
      color: #fff;
      .left {
        float: left;
        width: 20.83333333333333vw;
        height: 13.02083333333333vw;
        border-right: 2px solid $mainColor-2;
        > div {
          text-align: center;
          position: relative;
          &.up {
            &::after {
              display: block !important;
            }
          }
          &.down {
            &::before {
              display: block !important;
            }
          }
          &::after {
            position: absolute;
            top: 2.8125vw;
            left: 13.54166666666667vw;
            content: "";
            border-top: none;
            border-left: 0.4166666666666667vw solid transparent;
            border-right: 0.4166666666666667vw solid transparent;
            border-bottom: 0.4166666666666667vw solid #f93345;
            display: none;
          }
          &::before {
            position: absolute;
            top: 3.229166666666667vw;
            left: 13.54166666666667vw;
            content: "";
            border-top: 0.4166666666666667vw solid #1c8ff0;
            border-left: 0.4166666666666667vw solid transparent;
            border-right: 0.4166666666666667vw solid transparent;
            border-bottom: none;
            display: none;
          }
          > p {
            padding-top: 2.083333333333333vw;
            font-size: 1.5625vw;
            font-weight: bold;
          }
          > ul {
            position: relative;
            &::after {
              position: absolute;
              top: 1.25vw;
              left: 50%;
              content: "";
              width: 2px;
              height: 0.8333333333333333vw;
              background-color: #fff;
            }
            > li {
              display: block;
              float: left;
              width: 50%;
              height: 1.041666666666667vw;
              line-height: 1.041666666666667vw;
              margin-top: 1.041666666666667vw;
              font-size: 0.8333333333333333vw;
              > em {
                padding-right: 0.5208333333333333vw;
                &:last-child {
                  margin-right: 0px;
                }
              }
            }
          }
        }
      }
      .center {
        position: relative;
        float: left;
        width: 20.83333333333333vw;
        height: 13.02083333333333vw;
        border-right: 2px solid $mainColor-2;
        &::before {
          content: "";
          width: 0.2083333333333333vw;
          height: 0.2083333333333333vw;
          border-radius: 0.1041666666666667vw;
          background-color: #1c8ff0;
          position: absolute;
          top: 5.729166666666667vw;
          left: 9.583333333333333vw;
        }
        &::after {
          content: "";
          width: 0.2083333333333333vw;
          height: 0.2083333333333333vw;
          border-radius: 0.1041666666666667vw;
          background-color: #1c8ff0;
          position: absolute;
          top: 5.729166666666667vw;
          left: 12.13541666666667vw;
        }
        >img{
          position: absolute;
          display: block;
          width: 4.114583333333333vw;
          height: 4.114583333333333vw;
          left: 2.083333333333333vw;
          top: 4.6875vw;
        }
        > p {
          position: absolute;
          top: 4.947916666666667vw;
          left: 7.291666666666667vw;
          font-size: 0.7291666666666667vw;
          > em {
            font-size: 1.25vw;
            font-weight: bold;
          }
        }
      }
      .right {
        float: right;
        width: 20.83333333333333vw;
        height: 13.02083333333333vw;
        > .sns-wrap {
          width: 18.75vw;
          margin: 2.083333333333333vw 0 0 2.083333333333333vw;
          > ul {
            clear: both;
            > li {
              float: left;
              width: 25%;
              padding-right: 0.78125vw;
            }
          }
        }
      }
    }
  }
  > .footer-section-2 {
    width: 1920px;
    margin: 0 auto;
    > .footer-section-2-wrap {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      font-size: 0.8333333333333333vw;
      > ul {
        overflow: hidden;
        margin: 2.604166666666667vw 0 0 4.947916666666667vw;
        > li {
          position: relative;
          display: block;
          float: left;
          padding-right: 2.083333333333333vw;
          &::after {
            position: absolute;
            top: 0.2083333333333333vw;
            left: 4.166666666666667vw;
            content: "";
            width: 1px;
            height: 0.78125vw;
            background-color: #ccc;
          }
          &:nth-child(2) {
            &::after {
              left: 7.395833333333333vw;
            }
          }
          &:nth-child(3) {
            &::after {
              display: none;
            }
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
      > .address {
        margin-top: 2.604166666666667vw;
        width: 22.91666666666667vw;
        height: 5.46875vw;
        > p {
          margin-top: 1.5625vw;
        }
      }
      .footer-logo {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
//PC1200(1200px~)
@media (min-width: 1200px){
  #container { 
    width: 100%;
    >.main-visual{
      >.main-visual-img_tm{
        display: none;
      }
    }
  }
}
//Tablet && PC1200(768~1919px)
@media (min-width: 768px) and (max-width: 1919px) {
  body{
    width: 100%;
  }
  #header {
    width: 100%;
    .gnb-wrap {
      width: 100%;
      .gnb {
        width: 100%;
        > ul > li > a {
          ::before {
            width: 7.5%;
          }
        }
      }
    }
  }
  #container { 
    width: 100%;
    .main-visual-txt {
      width: 100%;
    }
    .row1-wrap{
      width: 100%;
      height: 33.85416666666667vw;
    }
    .row2-wrap{
      width: 100%;
      height: 33.85416666666667vw;
    }
    .row3-wrap{
      width: 100%;
      height: 33.85416666666667vw;
    }
    .row4-wrap{
      width: 100%;
      height: 26.04166666666667vw;
    }
  }
  #footer{
    width: 100%;
    height: 29.6875vw;
    > .footer-section-1{
      height: 15.10416666666667vw;
    }
    > .footer-section-2{
      width: 100%;
      > .footer-section-2-wrap{
        width: 62.5vw;
      }
    }
  }
}

//Tablet(768~1199px)
@media (min-width: 768px) and (max-width: 1199px) {
  body{
    width: 100%;
  }
  h2 {
    font-size: 3.385416666666667vw;
    padding-top: 0;
  }
  h4 {
    font-size: 2.604166666666667vw;
    padding-left: 25px;
    padding-top: 30px;
  }
  #header{
    position: relative;
    .logo{
      margin: 40px auto;
    }
    .header-top-wrap{
      display: none;
    }
    .gnb-wrap{
      display: none;
    }
    .menu-shape-wrap{
      position: absolute;
      display: block;
      top: 0px;
      right: 40px;
      .menu-shape, .menu-shape > span{
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
      }
      .menu-shape{
        position: relative;
        width: 44px;
        height: 44px;
        > span{
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          &:nth-child(1){
            top: 0;
          }
          &:nth-child(2){
            top: 20px;
          }
          &:nth-child(3){
            bottom: 0px;
          }
        }
      }
      >.menu-shape{
        &:hover{
          > span{
            &:nth-child(1){
              -webkit-transform : translateY(20px) rotate(-45deg);
              transform : translateY(20px) rotate(-45deg);
            }
            &:nth-child(2){opacity: 0;
            }
            &:nth-child(3){
              -webkit-transform : translateY(-20px) rotate(45deg);
              transform : translateY(-20px) rotate(45deg);
            }
          }
        }
      }
    }
  }
  #container{
    > .main-visual{
      >.main-visual-img{
        display: none;
      }
      >.main-visual-txt{
      display: none;
      }
      .main-visual-img_tm{
        > li{
          > span{
            left: calc(50% + 50px) !important;
            font-size: 1.666666666666667vw !important;
            > em{
              font-size: 2.916666666666667vw !important;
            }
          }
        }
      }
    }
    > .row1-wrap{
      height: 121.09375vw;
      margin-top: 5.208333333333333vw;
      margin-left: 5.208333333333333vw;
      > .row1{
        width: 100%;
        > .brand{
          width: 100%;
          > li{
            width: auto;
            margin-left: 5.208333333333333vw;
            margin-top: 5.208333333333333vw;
            > a {
              > img{
                width: 36.84895833333333vw;
                height: 36.84895833333333vw;
              }
              &::after{
                width: 36.97916666666667vw;
                height: 36.97916666666667vw;
              }
            }
            > p{
              font-size: 2.083333333333333vw;
              >em{
                font-size: 2.604166666666667vw;
                margin-bottom: -10px;
              }
            }
          }

        }
      }
    }
    > .row2-wrap{
      height: 92.44791666666667vw;
      > .row2{
        position: relative;
        width: 100%;
        padding-top: 4.166666666666667vw;
        padding-left: 4.166666666666667vw;
        > .youtube-wrap{
          position: absolute;
          width: 81.77083333333333vw;
          height: 43.75vw;
          top: 13.671875vw;
          left: 50%;
          transform: translateX(-50%);
        }
        .row2-right{
          position: absolute;
          top: 62.5vw;
          left: 50%;
          transform: translateX(-50%);
          width: 81.77083333333333vw;
          text-align: center;
          > h3{
            font-size: 3.385416666666667vw;
            width: 100%;
            > br{
              display: none;
            }
          }
          > p {
            display: block;
            font-size: 2.083333333333333vw;
            width: 69.01041666666667vw;
            margin: 0 auto;
            > br{
              display: none;
            }
          }
          > a{
            text-align: center;
            font-size: 2.34375vw;
            width: 24.08854166666667vw;
            height: 5.208333333333333vw;
            line-height: 5.208333333333333vw;
            top: 5.208333333333333vw;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    > .row3-wrap{
      width: 100%;
      height: 72.91666666666667vw;
      > .row3{
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
//Mobile(360~767)
@media (max-width: 767px) {
  #container{
    > .main-visual{
      >.main-visual-img{
        display: none;
      }
      >.main-visual-txt{
      display: none;
      }
    }
  }
}