@charset 'utf-8';
@import "design";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font: 16px/1.4 "Noto Sans KR", Malgun Gothic, "맑은 고딕", "dotum", "돋움",
    "Red Hat Display", "AppleGothic", sans-serif;
}
h2 {
  font-size: 1.354166666666667vw;
  padding-top: 5.208333333333333vw;
}
h4 {
  font-size: 1.041666666666667vw;
  padding-left: 1.302083333333333vw;
  padding-top: 1.5625vw;
}
#header {
  width: 100%;
  margin: 0 auto;
  .logo {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
  }
  .header-top-wrap {
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    .header-top {
      overflow: hidden;
      font-size: 13px;
      .lang-wrap {
        float: left;
        position: absolute;
        right: 336px;
        top: 0px;
        > ul {
          position: absolute;
          top: 40px;
          left: 0;
          width: 80px;
          height: 100px;
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 10px;
          display: none;
          z-index: 1;
          > li {
            line-height: normal;
            display: block;
            margin-bottom: 20px;
            &:hover {
              display: block;
              color: $mainColor-1;
            }
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
      .user-wrap {
        float: left;
        position: absolute;
        right: 290px;
        top: 0;
        > ul {
          position: absolute;
          top: 40px;
          left: 0;
          width: 100px;
          height: 150px;
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 10px;
          display: none;
          z-index: 1;
          > li {
            line-height: normal;
            display: block;
            margin-bottom: 20px;
            &:hover {
              display: block;
              color: $mainColor-1;
            }
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
      .total {
        float: right;
        position: absolute;
        right: 40px;
        > form {
          width: 230px;
          height: 40px;
          background-color: #fff;
          border: 1px solid #ccc;
          position: relative;
          > fieldset {
            > input[type="search"] {
              position: absolute;
              width: 198px;
              height: 38px;
              border-style: none;
            }
            > input[type="submit"] {
              position: absolute;
              right: 5px;
              width: 25px;
              height: 38px;
              background: url(../image/common/icon-search.png) no-repeat center
                center;
              text-indent: -9999px;
              border-style: none;
            }
          }
        }
      }
    }
  }
  .gnb-wrap {
    width: 1920px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .gnb {
      width: 62.5%;
      height: 3.645833333333333vw;
      line-height: 3.645833333333333vw;
      margin: 0 auto;
      > ul {
        > li {
          position: relative;
          display: block;
          float: left;
          width: 25%;
          height: 3.645833333333333vw;
          line-height: 3.645833333333333vw;
          text-align: center;
          &::before {
            position: absolute;
            content: "";
            width: 0%;
            height: 3px;
            background-color: $mainColor-1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
            -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
          }
          &:hover {
            &::before {
              width: 100%;
            }
            > ul {
              display: block;
            }
          }
          > a {
            font-size: 1.25vw;
          }
          > ul {
            display: none;
            position: absolute;
            top: 3.645833333333333vw;
            left: 0;
            background-color: rgba(255, 255, 255, 0.8);
            width: 100%;
            z-index: 3;
            > li {
              height: 3.125vw;
              line-height: 3.125vw;
              > a {
                display: block;
                width: 100%;
                height: 3.125vw;
                line-height: 3.125vw;
                font-size: 0.9375vw;
                &:hover {
                  color: $mainColor-1;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
    .btn-menu-close {
      display: none;
    }
  }
}
#container {
  width: 1920px;
  margin: 0 auto;
  .main-visual {
    width: 100%;
    height: 100%;
    position: relative;
    > div {
      a {
        position: absolute;
        top: 10.52083333333333vw;
        z-index: 2;
        &:nth-child(1) {
          left: 15.05208333333333vw;
        }
        &:nth-child(2) {
          right: 15.05208333333333vw;
        }
        > img {
          width: 1.5625vw;
          height: 3.645833333333333vw;
        }
      }
    }
    > ul[class^="main-visual-img"] {
      > li {
        position: relative;
        display: block;
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
        > p {
          position: absolute;
          display: block;
          height: 11.875%;
          top: 26.59574468085106%;
          left: calc(50% + 5.729166666666667vw);
          font-size: 1.041666666666667vw;
          color: rgba(0, 0, 0, 0.7);
          > em {
            position: relative;
            font-size: 1.875vw;
            font-weight: bold;
            color: #000;
            &::after {
              display: inline-block;
              content: "";
              width: 2.604166666666667vw;
              height: 1.197916666666667vw;
              background: url(../image/main/NEW.png) round 0 0;
            }
          }
        }
      }
    }
    .main-visual-txt {
      width: 62.5%;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      > li {
        display: block;
        float: left;
        width: 33%;
        height: 50px;
        line-height: 50px;
        background-color: #fff;
        color: #000;
        text-align: center;
        margin-right: 0.2604166666666667vw;
        font-size: 0.8333333333333333vw;
        font-weight: bold;
        &:hover {
          background-color: $mainColor-1;
          color: #fff;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .row1-wrap {
    width: 1920px;
    height: 650px;
    margin: 0 auto;
    .row1 {
      width: 62.5%;
      margin: 0 auto;
      .brand {
        width: 100%;
        overflow: hidden;
        // vertical-align: middle;
        > li {
          width: 23.58333333333333%;
          position: relative;
          display: block;
          float: left;
          margin-right: 1.88888888888889%;
          margin-top: 2.083333333333333vw;
          > a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            &:hover,
            &:focus {
              &::after {
                display: block;
              }
            }
            &::after {
              content: "";
              width: 100%;
              height: 72.37851662404092%;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              display: none;
              background: url(../image/main/opacity_img_plus.png) no-repeat 0 0;
              background-size: cover;
            }
          }
          &:last-child {
            margin-right: 0px;
          }
          > p {
            text-align: center;
            margin-top: 20px;
            font-size: 0.8205128205128205vw;
            > em {
              display: block;
              font-size: 1.025641025641026vw;
              font-weight: bold;
              margin-bottom: -5px;
            }
          }
        }
      }
    }
  }
  .row2-wrap {
    width: 1920px;
    height: 650px;
    background-color: #f1ebe7;
    .row2 {
      position: relative;
      width: 62.5%;
      margin: 0 auto;
      > .youtube-wrap {
        position: relative;
        background-color: #000;
        width: 37.03125vw;
        height: 20.83333333333333vw;
        margin-top: 2.604166666666667vw;
        margin-left: 1.041666666666667vw;
        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .row2-right {
        position: absolute;
        top: 9.375vw;
        left: calc(50% + 9.895833333333333vw);
        > p {
          font-size: 0.8333333333333333vw;
        }
        > h3 {
          font-size: 1.5625vw;
          margin-bottom: 2.34375vw;
        }
        > a {
          position: relative;
          display: block;
          width: 9.635416666666667vw;
          height: 2.083333333333333vw;
          line-height: 2.083333333333333vw;
          text-align: center;
          color: #fff;
          font-weight: bold;
          font-size: 0.9375vw;
          top: 4.166666666666667vw;
          left: 2.083333333333333vw;
          background-color: $mainColor-1;
          &:hover {
            background-color: $mainColor-2;
          }
        }
      }
    }
  }
  .row3-wrap {
    width: 1920px;
    height: 650px;
    background-color: $mainColor-1;
    .row3 {
      width: 62.5vw;
      margin: 0 auto;
      > h2 {
        color: #fff;
        margin-bottom: 2.604166666666667vw;
      }
      > .row3-arr {
        position: relative;
        > a {
          &:nth-child(1) {
            position: absolute;
            top: 7.03125vw;
            left: 0px;
            > img {
              width: 2.604166666666667vw;
              height: 2.604166666666667vw;
            }
          }
          &:nth-child(2) {
            position: absolute;
            top: 7.03125vw;
            right: 0px;
            > img {
              width: 2.604166666666667vw;
              height: 2.604166666666667vw;
            }
          }
        }
      }
      > .sub-visual {
        overflow: hidden;
        margin-left: 4.166666666666667vw;
        li {
          position: relative;
          float: left;
          margin-right: 1.822916666666667vw;
          height: 20.83333333333333vw;
          width: 16.82291666666667vw;
          > a {
            img {
              transition: 0.5s;
              cursor: pointer;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          > p {
            display: block;
            position: absolute;
            top: 18.48958333333333vw;
            left: 50%;
            width: 16.82291666666667vw;
            transform: translateX(-50%);
            font-weight: bold;
            color: #fff;
            text-align: center;
            font-size: 0.8333333333333333vw;
            @include lineClamp(22.4, 1);
          }
        }
      }
    }
  }
  .row4-wrap {
    width: 1920px;
    height: 500px;
    background-color: $mainColor-2;
    h2 {
      color: #fff;
      padding-bottom: 15px;
    }
    > .row4 {
      width: 62.5vw;
      margin: 0 auto;
      overflow: hidden;
      padding-top: 7.03125vw;
      .row4-left {
        .row4-left-wrap {
          position: relative;
          float: left;
          width: 14.84375vw;
          height: 13.28125vw;
          margin-right: 1.041666666666667vw;
          background: url(../image/main/ceo-img.png) no-repeat 50% 0;
          h2 {
            position: absolute;
            padding-top: 0px;
            top: -2.239583333333333vw;
            left: 0;
          }
          > p {
            padding-left: 0.5208333333333333vw;
            padding-top: 2.604166666666667vw;
            font-size: 0.9375vw;
            &:last-child {
              padding-top: 0px;
              padding-left: 1.302083333333333vw;
              font-size: 0.7291666666666667vw;
              > em {
                font-size: 0.9375vw;
                color: #fff;
              }
            }
          }
          > div {
            margin-top: 2.34375vw;
            margin-left: 0.625vw;
            width: 5.208333333333333vw;
            height: 1.5625vw;
            line-height: 1.5625vw;
            background-color: #f1ebe7;
            text-align: center;
            font-size: 0.8333333333333333vw;
            &:hover {
              background-color: $mainColor-3;
              color: #fff;
            }
          }
        }
      }
      .row4-center {
        > .row4-center-wrap {
          position: relative;
          float: left;
          width: 30.72916666666667vw;
          height: 13.28125vw;
          margin-right: 1.041666666666667vw;
          background: url(../image/main/row_center_img.png) no-repeat 33.3% 50%;
          padding-top: 2.083333333333333vw;
          padding-left: 1.041666666666667vw;
          > p {
            font-size: 0.78125vw;
            color: #fff;
            &:last-child {
              font-size: 0.8333333333333333vw;
              margin-top: 1.822916666666667vw;
              width: 5.208333333333333vw;
              height: 1.5625vw;
              line-height: 1.5625vw;
              text-align: center;
              background-color: $mainColor-3;
              &:hover {
                background-color: $mainColor-5;
                color: #000;
              }
            }
            > em {
              display: block;
              padding-top: 0.78125vw;
              font-size: 1.25vw;
            }
          }
        }
        h2 {
          position: absolute;
          padding-top: 0px;
          top: -2.239583333333333vw;
          left: 0;
        }
      }
      .row4-right {
        .row4-right-wrap {
          position: relative;
          float: right;
          width: 14.84375vw;
          height: 13.28125vw;
          background: url(../image/main/row4_right_img.png) no-repeat center 0;
          h2 {
            position: absolute;
            padding-top: 0px;
            top: -2.239583333333333vw;
            left: 0;
          }
          > p {
            padding-top: 5.729166666666667vw;
            padding-left: 1.145833333333333vw;
            color: #fff;
            font-size: 0.8333333333333333vw;
            &:last-child {
              position: absolute;
              top: 10.15625vw;
              left: 1.041666666666667vw;
              padding: 0px;
              width: 5.208333333333333vw;
              height: 1.5625vw;
              line-height: 1.5625vw;
              background-color: $mainColor-1;
              text-align: center;
              &:hover {
                background-color: $mainColor-3;
              }
            }
          }
        }
      }
    }
  }
}
#footer {
  position: relative;
  width: 1920px;
  height: 570px;
  margin: 0 auto;
  > .footer-section-1 {
    height: 290px;
    background-color: $mainColor-3;
    > .footer-section-1-wrap {
      overflow: hidden;
      width: 62.5vw;
      margin: 0 auto;
      padding-top: 1.041666666666667vw;
      color: #fff;
      .left-wrap {
        .left {
          float: left;
          width: 20.83333333333333vw;
          height: 13.02083333333333vw;
          border-right: 2px solid $mainColor-2;
          > div {
            text-align: center;
            position: relative;
            &.up {
              &::after {
                display: block !important;
              }
            }
            &.down {
              &::before {
                display: block !important;
              }
            }
            &::after {
              position: absolute;
              top: 2.8125vw;
              left: 13.54166666666667vw;
              content: "";
              border-top: none;
              border-left: 0.4166666666666667vw solid transparent;
              border-right: 0.4166666666666667vw solid transparent;
              border-bottom: 0.4166666666666667vw solid #f93345;
              display: none;
            }
            &::before {
              position: absolute;
              top: 3.229166666666667vw;
              left: 13.54166666666667vw;
              content: "";
              border-top: 0.4166666666666667vw solid #1c8ff0;
              border-left: 0.4166666666666667vw solid transparent;
              border-right: 0.4166666666666667vw solid transparent;
              border-bottom: none;
              display: none;
            }
            > p {
              padding-top: 2.083333333333333vw;
              font-size: 1.5625vw;
              font-weight: bold;
            }
            > ul {
              position: relative;
              &::after {
                position: absolute;
                top: 1.25vw;
                left: 50%;
                content: "";
                width: 2px;
                height: 0.8333333333333333vw;
                background-color: #fff;
              }
              > li {
                display: block;
                float: left;
                width: 50%;
                height: 1.041666666666667vw;
                line-height: 1.041666666666667vw;
                margin-top: 1.041666666666667vw;
                font-size: 0.8333333333333333vw;
                > em {
                  padding-right: 0.5208333333333333vw;
                  &:last-child {
                    margin-right: 0px;
                  }
                }
              }
            }
          }
        }
      }
      .center-wrap {
        .center {
          position: relative;
          float: left;
          width: 20.83333333333333vw;
          height: 13.02083333333333vw;
          border-right: 2px solid $mainColor-2;
          &::before {
            content: "";
            width: 0.2083333333333333vw;
            height: 0.2083333333333333vw;
            border-radius: 0.1041666666666667vw;
            background-color: #1c8ff0;
            position: absolute;
            top: 5.729166666666667vw;
            left: 9.583333333333333vw;
          }
          &::after {
            content: "";
            width: 0.2083333333333333vw;
            height: 0.2083333333333333vw;
            border-radius: 0.1041666666666667vw;
            background-color: #1c8ff0;
            position: absolute;
            top: 5.729166666666667vw;
            left: 12.13541666666667vw;
          }
          > img {
            position: absolute;
            display: block;
            width: 4.114583333333333vw;
            height: 4.114583333333333vw;
            left: 2.083333333333333vw;
            top: 4.6875vw;
          }
          > p {
            position: absolute;
            top: 4.947916666666667vw;
            left: 7.291666666666667vw;
            font-size: 0.7291666666666667vw;
            > em {
              display: block;
              font-size: 1.25vw;
              font-weight: bold;
            }
          }
        }
      }
      .right-wrap {
        .right {
          float: right;
          width: 20.83333333333333vw;
          height: 13.02083333333333vw;
          > .sns-wrap {
            width: 18.75vw;
            margin: 2.083333333333333vw 0 0 2.083333333333333vw;
            > ul {
              clear: both;
              > li {
                float: left;
                width: 25%;
                padding-right: 0.78125vw;
              }
            }
          }
        }
      }
    }
  }
  > .footer-section-2 {
    width: 1920px;
    margin: 0 auto;
    > .footer-section-2-wrap {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      font-size: 0.8333333333333333vw;
      > ul {
        overflow: hidden;
        margin: 2.604166666666667vw 0 0 4.947916666666667vw;
        > li {
          position: relative;
          display: block;
          float: left;
          padding-right: 2.083333333333333vw;
          &::after {
            position: absolute;
            top: 0.2083333333333333vw;
            left: 4.166666666666667vw;
            content: "";
            width: 1px;
            height: 0.78125vw;
            background-color: #ccc;
          }
          &:nth-child(2) {
            &::after {
              left: 7.395833333333333vw;
            }
          }
          &:nth-child(3) {
            &::after {
              display: none;
            }
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
      > .address {
        margin-top: 2.604166666666667vw;
        width: 22.91666666666667vw;
        height: 5.46875vw;
        > p {
          margin-top: 1.5625vw;
        }
      }
      .footer-logo {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  > .btn-top {
    width: 3.333333333333333vw;
    height: 3.333333333333333vw;
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 4;
  }
}
//PC1200(1200px 이상 PC버전 최적화)
@media (min-width: 1200px) {
  #container {
    width: 100%;
    > .main-visual {
      > .main-visual-img_tm {
        display: none;
      }
    }
  }
}
//Mobile && Tablet && PC1200(360~)
@media (min-width: 360px) {
  body {
    width: 100%;
  }
  #header {
    width: 100%;
    .gnb-wrap {
      width: 100%;
      .gnb {
        width: 100%;
        > ul > li > a {
          ::before {
            width: 7.5%;
          }
        }
      }
    }
  }
  #container {
    width: 100%;
    .main-visual-txt {
      width: 100%;
    }
    .row1-wrap {
      width: 100%;
      height: 33.85416666666667vw;
    }
    .row2-wrap {
      width: 100%;
      height: 33.85416666666667vw;
    }
    .row3-wrap {
      width: 100%;
      height: 33.85416666666667vw;
    }
    .row4-wrap {
      width: 100%;
      height: 26.04166666666667vw;
    }
  }
  #footer {
    width: 100%;
    height: 29.6875vw;
    > .footer-section-1 {
      height: 15.10416666666667vw;
    }
    > .footer-section-2 {
      width: 100%;
      > .footer-section-2-wrap {
        width: 62.5vw;
      }
    }
  }
}
//Mobile && Tablet(360~1199px 모바일, 테블릿 버전 최적화)
@media (min-width: 360px) and (max-width: 1199px) {
  body {
    width: 100%;
  }
  h2 {
    font-size: 3.385416666666667vw;
    padding-top: 0;
  }
  h4 {
    font-size: 2.604166666666667vw;
    padding-left: 2.083333333333333vw;
    padding-top: 2.5vw;
  }
  #header {
    position: relative;
    .logo {
      margin: 3.333333333333333vw auto;
    }
    .header-top-wrap {
      display: none;
    }
    // > #gnb-wrap {
    //   display: none;
    // }
    .nav-img {
      display: block;
      position: relative;
      top: -10vw;
      left: 3.333333333333333vw;
      width: 4.166666666666667vw;
      height: 4.166666666666667vw;
      span {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 4.166666666666667vw;
        height: 0.4166666666666667vw;
        border-radius: 0.2083333333333333vw;
        background-color: $mainColor-2;
        &:nth-child(2) {
          top: 1.25vw;
        }
        &:nth-child(3) {
          top: 2.5vw;
          width: 4.166666666666667vw;
        }
      }
    }
    #gnb-wrap:target {
      left: 0px;
    }
    // #gnb-wrap {
    //   display: none;
    // }
    .gnb-wrap {
      position: absolute;
      left: -9999px;
      top: -4.166666666666667vw;
      width: 700vw;
      border: none;
      z-index: 98;
      > .gnb {
        position: absolute;
        top: 0;
        left: 0;
        width: 89.66666666666667vw;
        height: 700vw;
        line-height: normal;
        background-color: #fff;
        z-index: 99;
        &::before {
          content: "";
          position: absolute;
          width: 16.66666666666667vw;
          height: 3.666666666666667vw;
          background: url(../image/common/logo.png) no-repeat 0 0;
          background-size: cover;
          top: 1.666666666666667vw;
          left: 3.333333333333333vw;
        }
        > ul {
          > li {
            float: none;
            height: 4.166666666666667vw; //50px
            line-height: 4.166666666666667vw; //50px
            position: absolute;
            top: 8.333333333333333vw; //100px
            left: 0;
            text-align-last: left;
            width: 100%;
            text-indent: 3.333333333333333vw; //40px
            &::before {
              bottom: 0;
            }
            > a {
              font-size: 2vw; //24px
            }
            &:nth-child(2) {
              top: 20.83333333333333vw; //250px
            }
            &:nth-child(3) {
              top: 37.5vw; //450px
            }
            &:nth-child(4) {
              top: 50vw; //600px
            }
            > ul {
              width: 100%;
              display: block;
              overflow: hidden;
              background-color: transparent;
              > li {
                width: 25%;
                display: block;
                float: left;
                height: 4.166666666666667vw; //50px
                > a {
                  position: relative;
                  display: block;
                  width: auto;
                  height: 4.166666666666667vw; //50px
                  line-height: 4.166666666666667vw; //50px
                  text-indent: 5vw; //60px
                  margin: 0 auto;
                  font-size: 1.333333333333333vw; //16px
                  &:hover {
                    &::before {
                      background-color: $mainColor-1;
                    }
                  }
                  @include lineClamp(48px, 1);
                  &::before {
                    position: absolute;
                    top: 2.083333333333333vw; //25px
                    left: 4.166666666666667vw; //50px
                    content: "";
                    width: 0.3333333333333333vw; //4px
                    height: 0.3333333333333333vw; //4px
                    border-radius: 0.1666666666666667vw; //2px
                    background-color: $mainColor-2;
                  }
                }
              }
            }
          }
        }
        > .btn-menu-close {
          display: block;
          position: absolute;
          top: 1.666666666666667vw;
          right: 1.666666666666667vw;
          width: 4.166666666666667vw;
          height: 4.166666666666667vw;
          z-index: 99;
          > a {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 4.166666666666667vw;
            height: 4.166666666666667vw;
            z-index: 99;
          }
          &::before {
            position: absolute;
            top: 2.083333333333333vw;
            right: 0;
            content: "";
            display: block;
            width: 4.166666666666667vw;
            height: 0.4166666666666667vw;
            border-radius: 0.2083333333333333vw;
            background-color: $mainColor-2;
            transform: rotate(45deg);
          }
          &::after {
            position: absolute;
            top: 2.083333333333333vw;
            right: 0;
            content: "";
            display: block;
            width: 4.166666666666667vw;
            height: 0.4166666666666667vw;
            border-radius: 0.2083333333333333vw;
            background-color: $mainColor-2;
            transform: rotate(-45deg);
          }
        }
      }
      > .dim {
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% - 89.66666666666667vw);
        height: 700vw;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
  }
  #container {
    > .main-visual {
      > div {
        a {
          position: absolute;
          top: 14.97395833333333vw;
          z-index: 2;
          &:nth-child(1) {
            left: 1.302083333333333vw;
          }
          &:nth-child(2) {
            right: 1.302083333333333vw;
          }
          > img {
            width: 3.90625vw;
            height: 9.114583333333333vw;
          }
        }
      }
      > .main-visual-img {
        display: none;
      }
      > .main-visual-txt {
        display: none;
      }
      .main-visual-img_tm {
        > li {
          > p {
            left: calc(50%);
            font-size: 1.666666666666667vw;
            > em {
              font-size: 3vw;
            }
          }
        }
      }
    }
    > .row1-wrap {
      width: 100vw;
      height: 123.5933333333333vw;
      padding-top: 5.208333333333333vw;
      padding-left: 5.208333333333333vw;
      > .row1 {
        width: 92.1875vw;
        margin-right: 0;
        > .brand {
          width: 92.1875vw;
          margin-right: 0;
          > li {
            width: 36.8175vw;
            margin-left: 5.208333333333333vw;
            margin-top: 5.208333333333333vw;
            margin-right: 0;
            &:nth-child(1) {
              margin-left: 0px;
            }
            &:nth-child(3) {
              margin-left: 0px;
            }

            > a {
              > img {
                width: 36.84895833333333vw;
                height: 36.84895833333333vw;
              }
              &::after {
                width: 36.84895833333333vw;
                height: 36.84895833333333vw;
              }
            }
            > p {
              font-size: 2.083333333333333vw;
              > em {
                font-size: 2.604166666666667vw;
                margin-bottom: -10px;
              }
            }
          }
        }
      }
    }
    > .row2-wrap {
      height: 92.44791666666667vw;
      > .row2 {
        position: relative;
        width: 100%;
        padding-top: 4.166666666666667vw;
        padding-left: 4.166666666666667vw;
        > .youtube-wrap {
          position: absolute;
          width: 81.77083333333333vw;
          height: 43.75vw;
          top: 13.671875vw;
          left: 50%;
          transform: translateX(-50%);
        }
        .row2-right {
          position: absolute;
          top: 62.5vw;
          left: 50%;
          transform: translateX(-50%);
          width: 81.77083333333333vw;
          text-align: center;
          > h3 {
            font-size: 3.385416666666667vw;
            width: 100%;
            > br {
              display: none;
            }
          }
          > p {
            display: block;
            font-size: 2.083333333333333vw;
            width: 69.01041666666667vw;
            margin: 0 auto;
            > br {
              display: none;
            }
          }
          > a {
            position: absolute;
            font-size: 2.34375vw;
            width: 24.08854166666667vw;
            height: 5.208333333333333vw;
            line-height: 5.208333333333333vw;
            top: 19.53125vw;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    > .row3-wrap {
      width: 100%;
      height: 72.91666666666667vw;
      > .row3 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        > h2 {
          padding-top: 5.208333333333333vw;
          padding-left: 5.208333333333333vw;
          margin-bottom: 5.208333333333333vw;
        }
        > .row3-arr {
          position: relative;
          > a {
            &:nth-child(1) {
              position: absolute;
              top: 17.70833333333333vw;
              left: 7.8125vw;
              z-index: 1;
              > img {
                width: 6.510416666666667vw;
                height: 6.510416666666667vw;
              }
            }
            &:nth-child(2) {
              position: absolute;
              top: 17.70833333333333vw;
              right: 6vw;
              z-index: 1;
              > img {
                width: 6.510416666666667vw;
                height: 6.510416666666667vw;
              }
            }
          }
        }
        > .sub-visual {
          overflow: hidden;
          margin-left: 7.8125vw;
          > li {
            margin-right: 2.604166666666667vw;
            width: 42.1875vw;
            height: 48.17708333333333vw;
            &:nth-child(2) {
              margin-right: 0;
            }
            &:last-child {
              display: none;
            }
            > a {
              > img {
                width: 42.1875vw;
                height: 42.1875vw;
              }
            }
            > p {
              top: 90%;
              font-size: 2.083333333333333vw;
              width: 42.1875vw;
            }
          }
        }
      }
    }
    > .row4-wrap {
      width: 100%;
      height: 108.7239583333333vw;
      padding-top: 0;
      > .row4 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 0;
        position: relative;
        .row4-left {
          float: none;
          position: absolute;
          top: 14.32291666666667vw;
          left: 5.208333333333333vw;
          > .row4-left-wrap {
            float: none;
            width: 42.1875vw;
            height: 37.76041666666667vw;
            margin-right: 0;
            background-size: cover;
            > h2 {
              top: -7.8125vw;
              padding-top: 0;
            }
            > p {
              padding-left: 1.822916666666667vw;
              padding-top: 7.552083333333333vw;
              font-size: 2.734375vw;
              &:last-child {
                padding-top: 1.302083333333333vw;
                padding-left: 3.255208333333333vw;
                font-size: 2.083333333333333vw;
                > em {
                  font-size: 2.734375vw;
                  color: #fff;
                }
              }
            }
            > div {
              margin-top: 4.557291666666667vw;
              margin-left: 1.822916666666667vw;
              width: 14.84375vw;
              height: 4.427083333333333vw;
              line-height: 4.427083333333333vw;
              font-size: 2.34375vw;
            }
          }
        }
        .row4-center {
          float: none;
          position: absolute;
          top: 65.75520833333333vw;
          left: 5.208333333333333vw;
          > .row4-center-wrap {
            > h2 {
              top: -7.8125vw;
              left: 0;
              margin-top: 0;
            }
            float: none;
            width: 89.58333333333333vw;
            height: 38.02083333333333vw;
            margin-right: 0;
            background-size: cover;
            padding-top: 6.25vw;
            padding-left: 2.864583333333333vw;
            > p {
              font-size: 2.213541666666667vw;
              > em {
                padding-top: 3.255208333333333vw;
                font-size: 3.515625vw;
              }
              &:last-child {
                font-size: 2.34375vw;
                margin-top: 5.208333333333333vw;
                width: 14.84375vw;
                height: 4.427083333333333vw;
                line-height: 4.427083333333333vw;
              }
            }
          }
        }
        .row4-right {
          float: none;
          position: absolute;
          top: 14.32291666666667vw;
          left: 52.60416666666667vw;
          > .row4-right-wrap {
            float: none;
            width: 42.1875vw;
            height: 37.76041666666667vw;
            background-size: cover;
            > h2 {
              padding-top: 0;
              top: -7.8125vw;
              left: 0;
            }
            > p {
              padding-top: 17.05729166666667vw;
              padding-left: 3.515625vw;
              font-size: 2.34375vw;
              &:last-child {
                top: 29.03645833333333vw;
                left: 3.255208333333333vw;
                width: 14.71354166666667vw;
                height: 4.427083333333333vw;
                line-height: 4.427083333333333vw;
              }
            }
          }
        }
      }
    }
  }
  #footer {
    width: 100%;
    height: 100.2604166666667vw;
    position: relative;
    > .footer-section-1 {
      width: 100%;
      height: 68.359375vw;
      // 525px
      > .footer-section-1-wrap {
        width: 100%;
        overflow: inherit;
        position: relative;
        padding-top: 0;
        > .left-wrap {
          position: absolute;
          top: 0;
          left: 0;
          > .left {
            float: none;
            width: 50vw;
            height: 33.203125vw;
            > div {
              &::after {
                position: absolute;
                top: 7.03125vw;
                left: 33.85416666666667vw;
                content: "";
                border-top: none;
                border-left: 1.041666666666667vw solid transparent;
                border-right: 1.041666666666667vw solid transparent;
                border-bottom: 1.041666666666667vw solid #f93345;
                display: none;
              }
              &::before {
                position: absolute;
                top: 8.072916666666667vw;
                left: 33.85416666666667vw;
                content: "";
                border-top: 1.041666666666667vw solid #1c8ff0;
                border-left: 1.041666666666667vw solid transparent;
                border-right: 1.041666666666667vw solid transparent;
                border-bottom: none;
                display: none;
              }
              > p {
                padding-top: 5.208333333333333vw;
                font-size: 3.90625vw;
              }
              > ul {
                &::after {
                  top: 3.385416666666667vw;
                  height: 2.083333333333333vw;
                }
                > li {
                  height: 6.510416666666667vw;
                  font-size: 2.083333333333333vw;
                  margin-top: 3.90625vw;
                }
              }
            }
          }
        }
        > .center-wrap {
          position: absolute;
          top: 0;
          left: 50%;
          > .center {
            float: none;
            width: 50vw;
            height: 33.203125vw;
            border: none;
            &::before {
              content: "";
              width: 0.5208333333333333vw;
              height: 0.5208333333333333vw;
              border-radius: 0.2604166666666667vw;
              top: 14.32291666666667vw;
              left: 24.41666666666667vw;
            }
            &::after {
              content: "";
              width: 0.5208333333333333vw;
              height: 0.5208333333333333vw;
              border-radius: 0.2604166666666667vw;
              top: 14.32291666666667vw;
              left: 30.66666666666667vw;
            }
            > img {
              width: 9.765625vw;
              height: 9.765625vw;
              left: 7.8125vw;
              top: 12.36979166666667vw;
            }
            > p {
              position: absolute;
              top: 12.36979166666667vw;
              left: 37.22222222222222%;
              font-size: 1.822916666666667vw;
              > em {
                display: block;
                font-size: 3.125vw;
                font-weight: bold;
              }
            }
          }
        }
        > .right-wrap {
          position: absolute;
          top: 35.15625vw;
          left: 50%;
          width: 100%;
          transform: translateX(-50%);
          > .right {
            float: none;
            height: 33.203125vw;
            border-top: 2px solid $mainColor-2;
            text-align: center;
            width: 100%;
            > h4 {
              padding-left: 0;
              padding-top: 5.208333333333333vw;
              padding-bottom: 5.208333333333333vw;
            }
            > .sns-wrap {
              position: relative;
              width: 100%;
              height: 18.22916666666667vw;
              margin: 0 auto;
              > ul {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                clear: both;
                > li {
                  float: left;
                  width: 10.80729166666667vw;
                  padding-right: 1.302083333333333vw;
                }
              }
            }
          }
        }
      }
    }
    > .footer-section-2 {
      width: 100%;
      > .footer-section-2-wrap {
        width: 100%;
        font-size: 2.083333333333333vw;
        > ul {
          margin: 5.208333333333333vw 0 0 20.83333333333333vw;
          > li {
            padding-right: 2.604166666666667vw;
            &::after {
              top: 0.5208333333333333vw;
              left: 8.854166666666667vw;
              height: 2.083333333333333vw;
              background-color: #ccc;
            }
            &:nth-child(2) {
              &::after {
                left: 17.31770833333333vw;
              }
            }
          }
        }
        > .address {
          padding-top: 6.510416666666667vw;
          padding-left: 9.114583333333333vw;
          width: 100%;
          height: 100%;
          font-size: 1.822916666666667vw;
          > p {
            padding-top: 3.90625vw;
          }
        }
        .footer-logo {
          position: absolute;
          top: 5.208333333333333vw;
          right: 9.114583333333333vw;
          width: 10.08333333333333vw;
          height: 10.08333333333333vw;
        }
      }
    }
  }
}
//Mobile(360~768 모바일 버전 최적화)
@media (min-width: 360px) and (max-width: 767px) {
  header {
    h1 {
      margin: 2.607561929595828vw auto !important;
      width: 26.07561929595828vw !important;
      height: 5.736636245110821vw !important;
      line-height: 5.736636245110821vw !important;
    }
  }
  .main-visual-img_tm {
    > li {
      > p {
        top: 33.33% !important;
        left: 50% !important;
        > em {
          font-size: 2.868318122555411vw !important;
          &::after {
            width: 6.51890482398957vw !important;
            height: 2.998696219035202vw !important;
          }
        }
        > i {
          display: none;
        }
      }
    }
  }
  .row1-wrap {
    height: 143.4159061277705vw !important;
    p {
      > em {
        margin-bottom: 0 !important;
      }
      > br {
        display: none !important;
      }
    }
  }
  .sub-visual {
    overflow: hidden;
    margin-left: 7.551760104302477vw !important;
    > li {
      margin-right: 2.477183833116037vw !important;
      width: 42vw !important;
      &:last-child {
        display: none;
      }
      > a {
        > img {
          width: 42.1875vw;
          height: 42.1875vw;
        }
      }
      > p {
        top: 90%;
        font-size: 2.083333333333333vw;
        width: 42.1875vw;
      }
    }
  }
  .footer-section-2-wrap {
    > ul {
      display: none;
    }
    > .address {
      padding-top: 0 !important;
      padding-left: 0 !important;
      > address {
        display: none;
      }
      p {
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
        height: 31.94263363754889vw;
        line-height: 31.94263363754889vw;
        font-size: 3.129074315514993vw;
        font-family: "Red Hat Display", "AppleGothic", sans-serif;
      }
    }
    > .footer-logo {
      display: none;
    }
  }
  .btn-top {
    width: 8.344198174706649vw !important;
    height: 8.344198174706649vw !important;
  }
  .gnb {
    > ul {
      > li {
        height: 5.215123859191656vw !important; //40px
        line-height: 5.215123859191656vw !important; //40px
        > a {
          font-size: 3.129074315514993vw !important; //24px
        }
        &:nth-child(2) {
          top: 32.59452411994785vw !important; //250px
        }
        &:nth-child(3) {
          top: 58.67014341590613vw !important; //450px
        }
        &:nth-child(4) {
          top: 78.22685788787484vw !important; //600px
        }
        &::before {
          height: 1px !important;
        }

        > ul {
          > li {
            height: 5.215123859191656vw !important; //40px
            > a {
              font-size: 2.086049543676662vw !important; //16px
              height: 6.51890482398957vw !important; //50px
              line-height: 6.51890482398957vw !important; //50px
              text-indent: 3.911342894393742vw; //30px
              font-size: 2.086049543676662vw !important; //16px
              &::before {
                top: 3.259452411994785vw !important;
                left: 3.259452411994785vw !important;
                width: 0.5215123859191656vw !important;
                height: 0.5215123859191656vw !important;
                border-radius: 0.2607561929595828vw !important;
              }
            }
          }
        }
      }
    }
  }
}
